<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".debug.DebugCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.codex.cardisconnecttracker.DEBUG_SET_FAKE_LOCATION" />
                <action android:name="com.codex.cardisconnecttracker.DEBUG_SET_FAKE_DEVICES" />
                <action android:name="com.codex.cardisconnecttracker.DEBUG_SELECT_DEVICE" />
                <action android:name="com.codex.cardisconnecttracker.DEBUG_SIMULATE_DISCONNECT" />
                <action android:name="com.codex.cardisconnecttracker.DEBUG_CLEAR_STATE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
